#map {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 75%;
}

.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #ccc;
}